/* <INDEX.HTML> */
body {
    background-image: url(../Archivos/fondo.png);
    background-color: aliceblue;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%; 
    background-position: center; 
    background-size: cover; 
}
header {
    background-color: black;
    width: 100%;
    max-height: 100px;
    display: inline-block;
    border-radius: 15px;
}
header a img {
    max-height: 100px;
    position: relative;
    left: 10px;
    display: inline;
}
nav > ul li a img{
    max-height: 100px;
    
}
nav {
    position: absolute;
    right: 3%;
    top: -1.5%;
}
#h1 {
    font-size: 3.5em;
    font-family: 'Sofia', cursive;
    color: aqua;
    text-shadow:-3px 0px wheat;
    text-shadow: 30px;
    text-align: center;
    flex-flow: row wrap;
    padding: auto;
}
div#bienvenida {
    background-color: rgba(0, 0, 0, 0.646);
    position: absolute;
    top: 27%;
    left: 0;
    margin-left: 10%;
    height: auto;
    width: 80%;
    text-align: center;
    display: block;
    flex-flow: row wrap;
    border-radius: 30px;
    box-shadow: -1px -1px 10px aqua;
    align-items: flex-end;
}
article {
    display: inline;
    font-size: 1.2vw;
    width: 50%;
    height: auto;
    overflow: auto;
   
}

#horario1 {
    background-color: rgba(0, 0, 0, 0.299);
    width: 100%;
    display: inline;
    height: auto;    
    position: absolute;
    left: 0px;
    top: 100%;
    border: 3px;
    flex-flow: row wrap;
    padding: auto;
    
}
.titulo2 {
    display: block;
    font-family: 'Sofia', cursive;
    color: aqua;
    text-align: center;
    font-size: 3.5vw;
    background-color: rgba(0, 0, 255, 0.676);
    position: relative;
   
}
#horario1 h2 {
    color: black;
    font-family: 'Sofia', cursive;
    text-align: center;
    background-color: turquoise;
}
div#casa > h1 {
    position: relative;
    top: 1300;
    left: 25%;
    font-family: 'Sofia', cursive;
    font-size: xxx-large;
    color: black;
    border: 3px wheat;
    border-style: solid;
    border-radius: 30px 15px  ; 
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.66);
    box-shadow: 0px 0px 10px antiquewhite;
    padding-left: 10px;
    padding-right: 10px;
    flex-flow: row wrap;

}
#casa {
    height: 500px;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.297);
    position: absolute;
    top: 1100px;
    left: 0px;
    flex-flow: row wrap;
    
}
.video {
    width: 450px;
    height: 250px;
    border-radius: 30px;
    position: absolute;
    left: 50px;
    top: 150px;
    border-color: aqua;
    z-index: 1;
    box-shadow: 0px 0px 10px aquamarine;    
    flex-flow: row wrap;
}
#enVivo {
    position: absolute;
    top: 210px;
    display: block;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.694);
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: aquamarine;
    border-radius: 50px 10px;
    flex-flow: row wrap;
}
#enVivo h2 {
    position: relative;
    padding-left: 600px;
}
#enVivo :hover {
    background-color: red;
}

div#casa :hover {
    background-color: black;
    color: white;
}
.opciones {
    display: none;
}
/* </INDEX.HTML> */

/* <> */