<section id="ultimodiv">
  <div class="alert alert-dark text-center" role="alert">
    <H1>DESEO SER MIEMBRO</H1>
  </div>
  <div class="container w-10r">
    <div>
      <h3 class="m-auto mb-4">
        Si desea aplicar a la membresía de la Iglesia Bautista Comunidad de
        Gracia (IBCG):
      </h3>
      <p></p>
      <p>
        1. Debe Llenar el Formulario de Solicitud Membresía
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSfzPQidh_FpmXRw_Od6c9Wvn5bCG4ek3lchbvhg1dPh4fCbHw/viewform"
          target="_blank"
          ><i class="bi bi-envelope">Clic Aqui</i></a
        >
      </p>
      <p>2. Haber sido bautizado por inmersión.</p>
      <h3>Nosotros nos contactaremos con usted para concluir el proceso:</h3>
      <p>1. Tomar el Curso de Pre membresía de IBCG.</p>
      <p>2. Firmar Pacto de compromiso.</p>
    </div>
  </div>
  <div class="alert alert-dark text-center" role="alert">
    <H1>DESEO SERVIR</H1>
  </div>
  <div class="container">
    <div>
      <h3>Si desea servir en Comunidad de Gracia:</h3>
      <p>1. Debe ser creyente genuino, miembro de IBCG.</p>
      <p>
        2. Una persona que está creciendo espiritualmente y mantiene una vida
        devocional consistente.
      </p>
      <p>
        3. Una persona que asiste regularmente a los diferentes discipulados o
        estudios programados en nuestra IBCG.
      </p>
      <p>
        4. Una persona que practica la comunión y la rendición de cuentas
        voluntariamente.
      </p>
      <p>5. Una persona cuya vida es congruente con el evangelio.</p>
      <p>6. Una persona emocionalmente estable.</p>
      <p>
        7. Una persona que está comprometida con la visión de IBCG: “Ser una
        comunidad de creyentes centrados en el evangelio, comprometidos en hacer
        discípulos, crecer juntos a la semejanza de Cristo y servir en su
        iglesia local para la gloria de Dios y el avance de Su Reino”.
      </p>
      <p>8. Una persona con un espíritu enseñable.</p>
      <p>
        9. Una persona con las habilidades y la energía necesarias para cumplir
        con sus deberes.
      </p>
      <p>10. Una persona con una actitud de servicio.</p>
    </div>
  </div>
</section>
