section {
    background-color: #1f3c5c;
    background-color: white;
}
h1 {
    color: #bdb39c;
    padding: 1.1rem;
    text-shadow: 1px 4px #1f3c5c;
    letter-spacing: 1.1rem;
}
h2 {
    color: #bdb39c;
    background-color: #1f3c5c; 
    align-items: center;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 0.6s ease-in-out;
}

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  transform: translateX(100%);
}

.carousel-item-next.carousel-item-right,
.carousel-item-prev.carousel-item-left {
  transform: translateX(-100%);
}

img {
  max-width: 100%;
  height: auto;
}