section {
    width: 100%;
    height: 70vh;
    /*background: url(../../../public/iglesiaAdoracion.png) no-repeat center;*/
    background-size: cover;
    background-color: #fff;
}

.div-sub-general {
    color: #203a5b;
}

#titulo {
   font-size: 6rem;
   margin-bottom: -15px;
   
}

#titulo:hover {
    font-size: 7.1rem;
    
}

#subTitulo {
    margin-top: 1px;
    font-size: 2rem;
}

@media (max-width: 800px) {
    #titulo {
        margin-bottom: 0px;
        font-size: 3rem;
        letter-spacing: 1rem;
    }

}
@media(max-width: 480px) {
    #titulo {
        font-size: 2rem;
        letter-spacing: 1rem;
    }
    #subTitulo {
        font-size: 1rem;
        letter-spacing: 0.5rem;
    }
}
